:root {
    --color-primario: #EEEEEE;
    --color-secundario: #D84040;
    --color-terceriario: #8E1616;
    --color-cuaternario: #1D1616;
}

.categorias {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    margin-bottom: 100px;
}

.categoria {
    padding: 1.5rem;
    border-radius: 0.5rem;
    height: 50%;
    width: 100%;
}

.categoria h2 {
    margin-bottom: 1rem;
    font-weight: 700;
}

.videos {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.video {
    flex: 1;
    padding: 0 20px;
    padding-top: 1rem;
    background-color: rgba(54, 5, 5, 0.8);
    border-radius: 0.5rem;
    box-shadow: 6px 10px 10px rgba(255, 38, 22, 0.5);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.video img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 0.5rem;
}

.video h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-weight: 700;
    text-align: center;
}

.video p {
    margin-bottom: 0.5rem;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

.btn-edit {
    background-color: var(--color-cuaternario);
    color: var(--color-primario);
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transform: scale(1);
    transition: background-color 0.3s ease;
}

.btn-edit:hover {
    background-color: var(--color-secundario);
    color: var(--color-cuaternario);
    border: none;
    transform: scale(1.1);
    transition: background-color 0.3s ease;
}

.btn-delete {
    background-color: var(--color-terceriario);
    color: var(--color-primario);
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-delete:hover {
    background-color: #ff1a1a; 
    color: var(--color-cuaternario);
}

.btn-delete:active {
    transform: scale(0.95); 
}

#modal {
    display: none;
    position: fixed;
    top:15%;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; 
    z-index: 1000;
}

#modal-content {
    background-color: var(--color-terceriario);
    padding: 30px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    gap: 1rem;
}

#mensaje-flotante {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}

.mensaje-success {
    background-color: #4CAF50;
    color: white;
}

.mensaje-error {
    background-color: #f44336;
    color: white;
}

.formulario_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    background-color: var(--color-terceriario);
    box-shadow: 0px 4px 6px rgba(250, 42, 42, 0.5);
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
}

.input_modal {
    padding: 10px;
    width: 100%;
    max-height: max-content;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.guardar_modal {
    background-color: var(--color-cuaternario);
    color: var(--color-primario);
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transform: scale(1);
    transition: background-color 0.3s ease;
}

.guardar_modal:hover {
    background-color: var(--color-secundario);
    color: var(--color-cuaternario);
    border: none;
    transform: scale(1.1);
    transition: background-color 0.3s ease;
}

.cancelar_modal {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transform: scale(1);
    transition: background-color 0.3s ease;
}

.cancelar_modal:hover {
    background-color: var(--color-cuaternario);
    color: var(--color-secundario);
    border: none;
    transform: scale(1.1);
    transition: background-color 0.3s ease;
}

/* Responsividad */
@media (max-width: 768px) {
    .videos {
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
    }

    .video img {
        max-width: 600px;
    }

    .btn-container {
        flex-direction: column;
    }

    #modal-content {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .videos {
        flex-direction: column;
    }

    .video img {
        max-width: 100%;
    }

    .btn-container {
        flex-direction: column;
    }

    #modal-content {
        max-width: 90%;
    }
}
